* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url(../font/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-I;
    src: url(../font/montserrat/Montserrat-Italic.ttf);
}

body {
    background-color: #1e1e1e;
}

/************************** HEADER **************************/

.header {
    background: transparent;
}

.top {
    position: relative;
    height: 70vh;
    background:
        linear-gradient(
        to bottom,
        rgba(246, 236, 40, 0.85) 0%,
        rgba(246, 236, 40, 0.4) 55%,
        rgba(0, 0, 0, 0.6) 70%,
        rgba(0, 0, 0, 0.9) 100%
        ),
        url("../image/banniere_stmedard.png"); 
    background-size: cover;
    background-position: center;
    color: white;
}

.menu {
    padding: 20px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.menu ul li a {
    position: relative;
    text-decoration: none;
    background-color: #1e1e1e;
    color: white;
    font-weight: bold;
    font-size: 28px;
    font-family: Montserrat-I, sans-serif;
    border-radius: 25px;
    padding: 20px;
}

.menu ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;      
    transform: translateX(-50%) scaleX(0);
    width: 60%;     
    height: 3px;
    background-color: #F6EC28;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.menu ul li a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.menu ul li a:hover {
    color: #F6EC28;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(0.90);
    transition: transform 0.6s ease;
}

.logo img {
    filter: drop-shadow(0 6px 14px rgba(0, 0, 0, 0.5));
}

.panier:hover {
    transform: scale(1.10);
    transition: transform 0.6s ease;
}

/******************* FOOTER ********************/
.down {
    background: linear-gradient(
        to top,
        #f6ec28 0%, 
        #cfc840  70%,
        #5a5a2a  90%,
        #1e1e1e 100%  
    );
    position: relative;
    padding-bottom: 20px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;

}

footer p {
    color: #1e1e1e;
    font-size: 20px;
    padding: 10px;
}

.reseau {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 50px;
}

.fil p {
    font-size: 15px;
    text-align: center;
}

.mentions hr {
    margin: 20px 0;
    border: 0;
    height: 5px;
    width: 100%;
    background: #1e1e1e;

}

.mentions {
    position: fixed0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
