body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.calendrier-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.titre-container {
    background-color: #666;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 40px;
    width: 80%;
    text-align: center;
}

.titre-page {
    color: white;
    margin: 0;
    font-size: 1.2rem;
}

.match-card {
    background-color: #999;
    width: 100%;
    height: 130px;
    border-radius: 25px;
    border: 2px solid #333;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
}


.logo-equipe {
    width: 80px;
    height: 80px;
    object-fit: contain; 
    border-radius: 10px; 
}

.score-label {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}