body {
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
}

.calendrier-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header-titre {
    background-color: #595959;
    width: 90%;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.header-titre h1 {
    color: white;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}


.match-card {
    background-color: #959595; 
    width: 100%;
    height: 110px;
    border: 2px solid #000;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 12px;
}


.logo-box {
    width: 65px;
    height: 65px;
    background-color: #959595;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.logo-box img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.score-text {
    color: white;
    font-size: 16px;
    font-weight: bold;
}