
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.calendrier-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}


.titre-container {
    background-color: #666;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 40px;
    width: 80%;
    text-align: center;
}

.titre-page {
    color: white;
    margin: 0;
    font-size: 1.2rem;
}


.match-card {
    background-color: #999;
    width: 100%;
    height: 130px;
    border-radius: 25px;
    border: 2px solid #333;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
}


.logo-placeholder {
    width: 75px;
    height: 75px;
    border: 2px solid #eee;
    background-color: transparent;
    background-image: 
        linear-gradient(to top left, transparent 47%, #eee 48%, #eee 52%, transparent 53%), 
        linear-gradient(to top right, transparent 47%, #eee 48%, #eee 52%, transparent 53%);
}

.score-label {
    color: white;
    font-size: 1rem;
}